.list_easy,
.list_hard {
  width: 100%;
  max-width: 1000px;
  height: 80vh;
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-template-rows: repeat(auto-fill, auto);
}

.list_easy {
  gap: 10px 10px;
}

.list_hard {
  gap: 5px 5px;
}
