.list_easy,
.list_hard {
  width: 100%;
  max-width: 500px;
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
}

.list_easy {
  grid-template-rows: repeat(auto-fill, minmax(100px, 1fr));
}

.list_hard {
  grid-template-rows: repeat(auto-fill, minmax(100px, 1fr));
}
