@import url("https://fonts.googleapis.com/css2?family=Sono:wght@400;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: "Sono", sans-serif;
  font-weight: 400;
}

body {
  background-image: url("./assets/body_bg.jpeg");
  background-attachment: fixed;
  background-size: cover;
}

button {
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
}

a {
  text-decoration: none;
}
