@import url("https://fonts.googleapis.com/css2?family=Sono:wght@400;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: "Sono", sans-serif;
  font-weight: 400;
}

body {
  background-image: url("./assets/body_bg.jpeg");
  background-attachment: fixed;
  background-size: cover;
}

button {
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
}

a {
  text-decoration: none;
}

.home_aside {
  width: 100%;
  max-width: 600px;
  height: 200px;
  backdrop-filter: blur(4px) saturate(200%);
  -webkit-backdrop-filter: blur(4px) saturate(200%);
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home_aside button {
  font-size: 3rem;
  font-weight: bold;
  color: #f1ce3d;
  transition: all 0.4s;
  box-shadow: 0.3em 0.3em 0 0 #f1ce3d, inset 0.3em 0.3em 0 0 #f1ce3d;
  padding: 20px;
}

.home_aside button:hover {
  box-shadow: 0 0 0 0 #f1ce3d, inset 6em 3.5em 0 0 #f1ce3d;
  border-radius: 20px;
  color: rgb(23, 35, 76);
}

.game_div {
  width: 200px;
  height: 30px;
  position: absolute;
  top: 11vh;
  left: calc(50% - 100px);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0006;
  border-radius: 10px;
}

.game_div p {
  color: #f1ce3d;
  font-size: 2rem;
  font-weight: bold;
}
